<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="parent(content, title, script)" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">SCM</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">

</head>
<body>

    <!-- common header  -->
    <ul class="p-4">
        <li>
            <a data-th-href="@{'/home'}">Home</a>
        </li>
        <li>
            <a data-th-href="@{'/about'}">About</a>
        </li>
        <li>
            <a data-th-href="@{'/services'}">Services</a>
        </li>
    </ul>
    
    <!-- main content  -->
    
   <div class="p-4">
        <section th:replace="${content}"></section>
   </div>


    <!-- common footer  -->
    <footer class="p-4">Footer: Smart Contact Manager</footer>


    <!-- flowbite script  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

    <th:block data-th-replace="${script}"></th:block>

</body>
</html>